<% content_for(:title) { t('.title', app_name: ENV['APP_NAME']) } %>

<% if logged_in? %>
  <div class="row">
    <div class="small-12 column">
      <h2><%= t '.welcome_back' %></h2>
      <p><%= t('.how_is_your_bet', link: link_to(t('.your_bet'), bet_path)).html_safe %>.</p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-12 column">
      <h2><%= t '.welcome' %></h2>
      <p><%= t('.read_the_rules_and_sign_up', rules_link: link_to(t('.the_rules'), help_path), login_link: link_to(t('.do_login'), login_path)).html_safe %>.</p>
    </div>
  </div>
<% end %>
