# values suitable for development and test environments only
DATABASE_HOST=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=bolao2014_development
SECRET_KEY_BASE=some-long-and-random-secret-key
EMAIL_SMTP_USER_NAME=some-smtp-username
EMAIL_SMTP_PASSWORD=some-smtp-password
EMAIL_SMTP_ADDRESS=mail.example.com
EMAIL_SMTP_DOMAIN=example.com
EMAIL_SMTP_PORT=25
EMAIL_SMTP_AUTHENTICATION=plain # plain, login or cram_md5
EMAIL_SMTP_ENABLE_STARTTLS_AUTO=true
EMAIL_FROM=no-reply@bolao2014.example.com
APP_NAME='Bolão Copa do Mundo 2014'
APP_SHORT_NAME='Bolão 2014'
APP_HOST='localhost:3000'
APP_BET_COST=25
APP_BET_PRIZE=20
APP_MATCH_BET_POINTS_GOALS=2
APP_MATCH_BET_POINTS_RESULT=6
APP_QUESTION_BET_POINTS_TEAM=20
APP_QUESTION_BET_POINTS_PLAYER=20
APP_QUESTION_BET_POINTS_BOOLEAN=5
APP_PRIZE_FIRST=65
APP_PRIZE_SECOND=25
APP_PRIZE_THIRD=10
APP_CONTACT_EMAIL=contact@bolao2014.example.com
WEB_CONCURRENCY=1
CAP_APPLICATION=bolao2014.example.com
CAP_DEPLOY_TO='/var/www/bolao2014'
CAP_SERVER=bolao2014.example.com
CAP_USER=deploy
CAP_SSH_PORT=22
CAP_RESTART_COMMAND='sudo /etc/init/bolao2014 restart'
SKYLIGHT_APPLICATION=Skylight-ID
SKYLIGHT_AUTHENTICATION=Skylight-Auth-Token
REDIS_URL='redis://localhost:6379'
GOOGLE_ANALYTICS_ID=UA-XXXXXXXX-X
GOOGLE_ANALYTICS_URL=example.com
