**.orig
*.rbc
*.sassc
.env
.envrc
.project
.rspec
.ruby-version
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/initializers/secret_token.rb
pickle-email-*.html
rerun.txt
