<li class="has-dropdown">
  <%= link_to t('common.administration'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>
  <ul class="dropdown">
    <li><%= link_to Bet.model_name.human(count: 2), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %></li>
    <li><%= link_to Match.model_name.human(count: 2), admin_matches_path %></li>
    <li><%= link_to Question.model_name.human(count: 2), admin_questions_path %></li>
  </ul>
</li>
