<hr />
<div class="row">
  <div class="small-12 column">
    <p class="text-right"><a href="https://github.com/rtopitt/bolao2014">Fork me on GitHub</a> <%= image_tag 'GitHub-Mark-32px.png', width: 24, length: 24 %></p>
  </div>
</div>
