<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <div data-alert class="alert-box radius <%= css_class_for_flash_type(name) %>">
    <%= msg %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
