<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <div data-alert class="row alert-box radius <%= css_class_for_flash_type(name) %>">
    <div class="small-12 column">
      <%= msg %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
<% end %>
