<%# add navigation links to this file %>
<%# http://foundation.zurb.com/docs/components/topbar.html %>

<% if logged_in? %>
  <%#  Right Nav Section %>
  <ul class="right">
    <li class="has-dropdown">
      <%= link_to current_user.email, '#' %>
      <ul class="dropdown">
        <li><%= link_to t('common.settings'), '#TODO-user-settings' %></li>
        <li><%= link_to t('common.logout'), logout_path %></li>
      </ul>
    </li>
  </ul>
  <!--
  <%#  Left Nav Section %>
  <ul class="left">
    <li><a href="#">Left Nav Button</a></li>
  </ul>
  -->
<% else %>
  <%#  Right Nav Section %>
  <ul class="right">
    <li><%= link_to t('common.login'), login_path %></li>
  </ul>
<% end %>
